body {
  background: black;
  color: white;
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.app,
.map,
.loading,
.data-form {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  box-sizing: border-box;
}

.loading {
  text-align: center;
  z-index: 1000;
  display: none;
}
.loading p {
  font-size: 3rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.loading.active {
  display: block;
}

.data-form {
  display: none;
}
.data-form.active {
  display: block;
}
.data-form div {
  max-width: 600px;
  width: 100%;
  margin: 2rem auto;
  box-sizing: border-box;
  padding: 1rem;
  background: #333;
}
.data-form label {
  display: block;
  font-size: 2rem;
  margin: 2rem 0 0;
}
.data-form label:first-child {
  margin-top: 0;
}
.data-form input {
  display: block;
}
.data-form input[type="submit"] {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
}
.data-form ul {
  margin-top: 0;
}
.data-form li em {
  background: #f5e342;
  color: black;
  padding: 0 0.25rem;
  border-radius: 10%;
}

.location-form {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
